body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.5em;
  border-radius: 5px;
}

#1x0, #1x1, #1x2, #1x3 {
  background-color: #006666;
}

#2x0, #2x1, #2x2, #2x3 {
  background-color: #00cc66;
}

#3x0, #3x1, #3x2, #3x3 {
  background-color: #999966;
}

#4x0, #4x1, #4x2, #4x3 {
  background-color: #cc3333;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
